.header {
  height: 30px;
  text-align: center;
  line-height: 30px;
  justify-content: center;
  background-color: #007fff
}
.sidebar {
  height: 300px;
  width: 100vw;
}
.sidebar-container {
  padding: 30px;
}
.sidebar-button-container,
.sidebar-ratings-container {
  display: flex;
  flex-wrap: wrap;
}
.menu-button {
  position: absolute;
  top: 290px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('images/menu-icon.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  font-size: 0;
  cursor: pointer;
}
#map {
  height: calc(100vh - 330px);
  width: 100vw;
}
.info-window-img {
  float: left;
  height: 150px;
  /* width: 150px; */
}
.info-window-container {
  float: left;
  margin-left: 10px;
}
.info-window-container h2 {
  margin: 5px 0 0;
}
.info-window-container p {
  margin: 0 0 5px;
}
.info-window-text-container{
  margin-bottom: 30px;
}
#yelp-logo {
  width: 64px;
}

@media screen and (min-width: 600px) {
  .sidebar {
    height: calc(100vh - 30px);
    width: 30%;
    float: left;
    border-right: 1px solid #bbb;
    position: absolute;
  }
  .sidebar-container {
    padding: 60px 10px;
  }
  .menu-button {
    top: 10px;
    right: 10px;
  }
  .filter-container {
    margin-right: 10px;
  }
  .filter-container p {
    margin-bottom: 0;
  }
  #map {
    height: calc(100vh - 30px);
    width: calc(70% - 1px);
    float: right;
  }
}
