.header {
  width: 100vw;
  height: 30px;
  text-align: center;
  line-height: 30px;
  justify-content: center;
  background-color: #007fff;
  position: absolute;
  z-index: 2;
}
.sidebar {
  height: 190px;
  width: calc(100% - 21px);
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  transition: width 1s, top 1s;
  background-color: white;
  position: absolute;
  z-index: 1;
  padding: 30px 10px;
  top: -170px;
}
.sidebar:hover {
  top: 0;
}
.menu-button {
  position: absolute;
  top: 210px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('images/menu-icon.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  font-size: 0;
  cursor: pointer;
}
.sidebar-button-container,
.sidebar-ratings-container {
  display: flex;
  flex-wrap: wrap;
}
.filter-container {
  margin-right: 10px;
}
.filter-container p {
  margin-bottom: 0;
}
#map {
  height: 100vh;
  width: 100%;
}
.info-window-img {
  float: left;
  height: 150px;
}
.info-window-container {
  float: left;
  margin-left: 10px;
}
.info-window-container h2 {
  margin: 5px 0 0;
}
.info-window-container p {
  margin: 0 0 5px;
}
.info-window-text-container{
  margin-bottom: 30px;
}
#yelp-logo {
  width: 64px;
}

@media screen and (min-width: 600px) {
  .sidebar {
    width: 250px;
    float: left;
  }
}
