body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#header {
  width: 100vw;
  height: 30px;
  text-align: center;
  line-height: 30px;
  justify-content: center;
  background-color: #007fff;
  position: absolute;
  z-index: 2;
}
#sidebar {
  width: 100%;
  border-bottom: 1px solid #bbb;
  background-color: white;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 5px #ccc;
}
#search-filter-container {
  padding: 30px 10px;
  height: 110px;
}
#sidebar-inputs-container {
  display: flex;
  flex-wrap: wrap;
}
#search-text-container {
  width: 100%;
  margin-bottom: 10px;
}
#search-text {
  width: calc(100% - 94px);
  max-width: 300px;
  height: 21px;
  font-size: 14px;
  border: 1px solid #007fff;
}
#search-text-button {
  width: 80px;
  font-size: 1.05em;
  margin-left: 10px;
  border: 1px solid #007fff;
}
#search-text-button:active {
  background-color: #007fff;
  color: white;
}
#price-filter,
#rating-filter {
  width: 120px;
  font-size: 14px;
  border: 1px solid #007fff;
}
#rating-filter {
  margin-left: 10px;
}
.locations-list-container {
  width: 100%;
  position: absolute;
  top: calc(100vh - 350px);
  background-color: white;
  border-top: 1px solid #bbb;
  text-align: center;
  box-shadow: -1px -1px 5px #ccc;
}
.locations-list-container.hide {
  top: calc(100vh - 34px);
}
#locations-list-button {
  width: 30px;
  height: 30px;
  background-image: url('images/menu-icon.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  font-size: 0;
  cursor: pointer;
}
.locations-list-container.hide #locations-list-button {
  transform: rotate(180deg);
}
.locations-list{
  height: 316px;
  width: 100%;
  overflow: scroll;
  background-color: white;
  border-top: 1px solid #bbb;
  text-align: left;
}
.locations-list-container.hide .locations-list {
  height: 0;
}
.list-item {
  overflow: auto;
  border: 1px solid #bbb;
  margin: 0 0 10px 10px;
  box-shadow: 1px 1px 5px #ccc;
}
h2 {
  color: #007fff;
}
.list-item-img-container {
  float: left;
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.list-item-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.list-item-container {
  float: left;
  margin-left: 10px;
}
.list-item-container h2 {
  font-size: 1em;
  margin: 5px 0 0;
}
.list-item-container p {
  font-size: .8em;
  margin: 0 0 5px;
}
.list-item-text-container{
  margin-bottom: 30px;
}
#map {
  height: calc(100vh - 150px);
  position: relative;
  top: 150px;
}
.info-window-img {
  float: left;
  height: 150px;
}
.info-window-container {
  float: left;
  margin-left: 10px;
}
.info-window-container h2 {
  margin: 5px 0 0;
}
.info-window-container p {
  margin: 0 0 5px;
}
.info-window-text-container{
  margin-bottom: 30px;
}
.info-window-text-container a {
  text-decoration-color: #007fff;
}
#yelp-logo {
  margin-left: 10px;
  width: 64px;
}

@media screen and (min-width: 800px) {
  #sidebar {
    width: 475px;
    border-right: 1px solid #bbb;
    border-bottom: none;
  }
  #search-filter-container {
    padding: 30px 10px 0;
    height: 127px;
  }
  .locations-list-container{
    position: static;
    border-top: none;
    border-bottom: 1px solid #bbb;
    box-shadow: none;
  }
  .locations-list-container.show #locations-list-button {
    transform: rotate(180deg);
  }
  .locations-list-container.hide #locations-list-button {
    transform: rotate(0deg);
  }
  .locations-list{
    height: calc(100vh - 191px);
    width: 100%;
    overflow: scroll;
    background-color: white;
    border-top: 1px solid #bbb;
    text-align: left;
  }
  .list-item-text-container{
    max-width: 285px;
  }
  #map.show {
    float: right;
    position: static;
    top: 30px;
    height: calc(100vh - 30px);
    width: calc(100% - 475px);
  }
  #map.hide {
    position: static;
    top: 30px;
    height: calc(100vh - 30px);
    width: 100%;
  }
}
