/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*:focus {
  outline-color: #007fff;
}
h2 {
  font: 900 14px Helvetica, Arial, sans-serif;
  color: #007fff;
  margin: 0;
}
p {
  font: 400 11px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

/* Header */
#header {
  width: 100vw;
  height: 30px;
  text-align: center;
  line-height: 30px;
  justify-content: center;
  background-color: #007fff;
  position: absolute;
  z-index: 2;
}

/* Map */
#map {
  position: relative;
  top: 150px;
}
#map.show {
  height: calc(65vh - 150px);
}
#map.hide {
  height: calc(100vh - 150px - 34px);
}

/* Sidebar */
#sidebar {
  padding-top: 30px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: white;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 5px #ccc;
}

/* Search */
#search-filter-container {
  padding: 10px;
  min-height: 134px;
  box-sizing: border-box;
}
#sidebar-inputs-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#search-text-container {
  width: 100%;
  margin-bottom: 10px;
}
#search-text {
  width: calc(100% - 95px);
  max-width: 300px;
  height: 21px;
  font-size: 14px;
  border: 1px solid #007fff;
}
#search-text-button {
  /*width: 80px;*/
  font-size: 1.05rem;
  margin-left: 10px;
  border: 1px solid #007fff;
}
#search-text-button:active {
  background-color: #007fff;
  color: white;
}
#price-filter,
#rating-filter {
  width: 100px;
  font-size: 14px;
  border: 1px solid #007fff;
}
#rating-filter {
  margin-left: 10px;
}

/* Locations */
.locations-list-container {
  width: 100%;
  position: absolute;
  top: 65vh;
  background-color: white;
  border-top: 1px solid #ccc;
  text-align: center;
  box-shadow: -1px -1px 5px #ccc;

}
.locations-list-container.hide {
  top: calc(100vh - 34px);
}
#locations-list-button {
  width: 30px;
  height: 30px;
  background-image: url('images/menu-icon.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  font-size: 0;
  cursor: pointer;
}
.locations-list-container.hide #locations-list-button {
  transform: rotate(180deg);
}
.locations-list{
  height: calc(35vh - 34px);
  width: 100%;
  overflow: scroll;
  background-color: white;
  border-top: 1px solid #ccc;
  text-align: left;
}
.locations-list-container.hide .locations-list {
  height: 0;
}

/* List Items */
.list-item {
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 5px 0 10px;
  box-shadow: 1px 1px 5px #ccc;
  border: 1px solid #ccc;
  height: 100px;
}
.list-item-img-container {
  float: left;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.list-item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.list-item-container {
  height: 100%;
  width: calc(100% - 110px);
  padding: 5px;
  box-sizing: border-box;
}
.list-item-rating-container {
  position: absolute;
  bottom: 5px;
}

/* List Items && Info Window */
.list-item-container,
.info-window-container {
  float: left;
  position: relative;
}
.list-item-text-container p,
.info-window-text-container p {
  margin: 0;
}
.list-item-rating-img,
.info-window-rating-img {
  width: 100px;
}
.list-item-yelp-logo,
.info-window-yelp-logo {
  margin-left: 10px;
  width: 40px;
}
.list-item-review-count,
.info-window-review-count {
  font-size: 9px;
  margin: 0;
}

/* Info Window */
.info-window-text-container a {
  text-decoration-color: #007fff;
}

@media screen and (min-width: 400px) {
  /* Global styles */
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }

  /* Search */
  #price-filter,
  #rating-filter {
    width: 120px;
  }
  #search-text {
    width: calc(100% - 94px);
  }
  #search-text-button {
    width: 80px;
  }
  
  /* List Items */
  .list-item {
    overflow-x: hidden;
    margin: 10px 10px;
    height: 125px;
  }
  .list-item-img-container {
    height: 125px;
    width: 125px;
  }
  .list-item-container {
    width: calc(100% - 145px);
    padding: 10px;
  }
  .list-item-rating-container {
    bottom: 10px;
  }
  .list-item-rating-img {
      width: 125px;
  }
  .list-item-yelp-logo {
    width: 50px;
  }

  /* List Items && Info Window */
  .list-item-text-container p,
  .info-window-text-container p {
    margin: 0 0 5px;
  }
  .list-item-review-count,
  .info-window-review-count {
    font-size: 11px;
  }
}

@media screen and (min-width: 800px) {
  /* Global styles */
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

  /* Map */
  #map {
    position: static;
    top: 30px;
  }
  #map.show {
    float: right;
    height: calc(100vh - 30px);
    width: calc(100% - 475px);
  }
  #map.hide {
    height: calc(100vh - 30px);
  }

  /* Sidebar */
  #sidebar {
    width: 475px;
    border-right: 1px solid #ccc;
    border-bottom: none;
  }

  /* Search */
  #search-filter-container {
    min-height: auto;
    height: 102px;
  }

  /* Locations */
  .locations-list-container{
    position: static;
    border-top: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
  }
  .locations-list-container.show #locations-list-button {
    transform: rotate(180deg);
  }
  .locations-list-container.hide #locations-list-button {
    transform: rotate(0deg);
  }
  .locations-list{
    height: calc(100vh - 166px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-top: 1px solid #ccc;
    text-align: left;

  }

  /* List Items */
  .list-item {
    height: 150px;
  }
  .list-item-img-container {
    float: left;
    height: 150px;
    width: 150px;
    overflow: hidden;
  }
  .list-item-container {
    width: calc(100% - 170px);
  }
  .list-item-text-container {
    max-width: 285px;
  }
  .list-item-rating-img {
    width: 125px;
  }

  /* List Items && Info Window */
  .list-item-rating-img,
  .info-window-rating-img {
    width: 150px;
  }
  .list-item-yelp-logo,
  .info-window-yelp-logo {
    width: 64px;
  }
  .list-item-review-count,
  .info-window-review-count {
    font-size: 12px;
  }
}
